.chartBars{
    margin-top: 2%;
    height: 75vh;
    width: 80vw;
}

.labels{
    margin-top: 2%;
}

.labels > p {
    line-height: 130%;
}

.labels > .ng {
    line-height: 160%;
}

.labels > .drc {
    line-height: 160%;
}

.labels > .su {
    line-height: 200%;
}

.labels > .sg {
    line-height: 200%;
}

.labels > .cd {
    line-height: 220%;
}